{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>WebPyRobot - Boutique</title>

    {% include 'backend/head.html' %}

  </head>
  <body>
    {% include 'backend/header.html' with moneyIn=money user=username%}
    <main class="container">
      <div class="section">
        <div class="row">

          {% include 'backend/sideNav.html' with page=pageIn %}

          <div class="col s12 m9 l10 pad">
            <div class="row z-depth-1 section padding-section">
              <div class="pad col s12 m8 l8 ">
                <div class="col s12">
                  <ul class="tabs">
                    <li class="tab col s4"><a href="#Canon" class="active">Canons</a></li>
                    <li class="tab col s4"><a href="#Blindage">Blindages</a></li>
                    <li class="tab col s4"><a href="#Chenille">Chenilles</a></li>
                    <li class="tab col s4"><a href="#info">Système</a></li>
                  </ul>
                </div>
                <div id="Canon" class="col s12 row">

                  <div class="card-panel hoverable col s4 grey lighten-5 ">
                    <div class="row">
                      <div class="col s12 center-align"><img src="{% static 'img/no_img.jpg' %}" class="pad equipement-icon responsive-img"></div>
                      <div class="col s12 center-align"><span class="black-text">Canon #1</span></div>
                    </div>
                  </div>

                  <div class="card-panel hoverable col s4 grey lighten-5 ">
                    <div class="row">
                      <div class="col s12 center-align"><img src="{% static 'img/no_img.jpg' %}" class="pad equipement-icon responsive-img"></div>
                      <div class="col s12 center-align"><span class="black-text">Canon #2</span></div>
                    </div>
                  </div>

                  <div class="card-panel hoverable col s4 grey lighten-5 ">
                    <div class="row">
                      <div class="col s12 center-align"><img src="{% static 'img/no_img.jpg' %}" class="pad equipement-icon responsive-img"></div>
                      <div class="col s12 center-align"><span class="black-text">Canon #3</span></div>
                    </div>
                  </div>

                  <div class="card-panel hoverable col s4 grey lighten-5 ">
                    <div class="row">
                      <div class="col s12 center-align"><img src="{% static 'img/no_img.jpg' %}" class="pad equipement-icon responsive-img"></div>
                      <div class="col s12 center-align"><span class="black-text">Canon #4</span></div>
                    </div>
                  </div>

                  <div class="card-panel hoverable col s4 grey lighten-5 ">
                    <div class="row">
                      <div class="col s12 center-align"><img src="{% static 'img/no_img.jpg' %}" class="pad equipement-icon responsive-img"></div>
                      <div class="col s12 center-align"><span class="black-text">Canon #5</span></div>
                    </div>
                  </div>

                  <div class="card-panel hoverable col s4 grey lighten-5 ">
                    <div class="row">
                      <div class="col s12 center-align"><img src="{% static 'img/no_img.jpg' %}" class="pad equipement-icon responsive-img"></div>
                      <div class="col s12 center-align"><span class="black-text">Canon #6</span></div>
                    </div>
                  </div>

                </div>
                <div id="Blindage" class="col s12">
                  <div class="card-panel hoverable col s4 grey lighten-5 ">
                    <div class="row">
                      <div class="col s12 center-align"><img src="{% static 'img/no_img.jpg' %}" class="pad equipement-icon responsive-img"></div>
                      <div class="col s12 center-align"><span class="black-text">Blindage #1</span></div>
                    </div>
                  </div>

                  <div class="card-panel hoverable col s4 grey lighten-5 ">
                    <div class="row">
                      <div class="col s12 center-align"><img src="{% static 'img/no_img.jpg' %}" class="pad equipement-icon responsive-img"></div>
                      <div class="col s12 center-align"><span class="black-text">Blindage #2</span></div>
                    </div>
                  </div>

                  <div class="card-panel hoverable col s4 grey lighten-5 ">
                    <div class="row">
                      <div class="col s12 center-align"><img src="{% static 'img/no_img.jpg' %}" class="pad equipement-icon responsive-img"></div>
                      <div class="col s12 center-align"><span class="black-text">Blindage #3</span></div>
                    </div>
                  </div>

                  <div class="card-panel hoverable col s4 grey lighten-5 ">
                    <div class="row">
                      <div class="col s12 center-align"><img src="{% static 'img/no_img.jpg' %}" class="pad equipement-icon responsive-img"></div>
                      <div class="col s12 center-align"><span class="black-text">Blindage #4</span></div>
                    </div>
                  </div>

                  <div class="card-panel hoverable col s4 grey lighten-5 ">
                    <div class="row">
                      <div class="col s12 center-align"><img src="{% static 'img/no_img.jpg' %}" class="pad equipement-icon responsive-img"></div>
                      <div class="col s12 center-align"><span class="black-text">Blindage #5</span></div>
                    </div>
                  </div>

                  <div class="card-panel hoverable col s4 grey lighten-5 ">
                    <div class="row">
                      <div class="col s12 center-align"><img src="{% static 'img/no_img.jpg' %}" class="pad equipement-icon responsive-img"></div>
                      <div class="col s12 center-align"><span class="black-text">Blindage #6</span></div>
                    </div>
                  </div>

                </div>
                <div id="Chenille" class="col s12">

                  <div class="card-panel hoverable col s4 grey lighten-5">
                    <div class="row">
                      <div class="col s12 center-align"><img src="{% static 'img/no_img.jpg' %}" class="pad equipement-icon responsive-img"></div>
                      <div class="col s12 center-align"><span class="black-text">Chenille #1</span></div>
                    </div>
                  </div>

                  <div class="card-panel hoverable col s4 grey lighten-5">
                    <div class="row">
                      <div class="col s12 center-align"><img src="{% static 'img/no_img.jpg' %}" class="pad equipement-icon responsive-img"></div>
                      <div class="col s12 center-align"><span class="black-text">Chenille #2</span></div>
                    </div>
                  </div>

                </div>

                <div id="info" class="col s12">

                  <div class="card-panel hoverable col s4 grey lighten-5">
                    <div class="row">
                      <div class="col s12 center-align"><img src="{% static 'img/no_img.jpg' %}" class="pad equipement-icon responsive-img"></div>
                      <div class="col s12 center-align"><span class="black-text">info #1</span></div>
                    </div>
                  </div>

                  <div class="card-panel hoverable col s4 grey lighten-5">
                    <div class="row">
                      <div class="col s12 center-align"><img src="{% static 'img/no_img.jpg' %}" class="pad equipement-icon responsive-img"></div>
                      <div class="col s12 center-align"><span class="black-text">info #2</span></div>
                    </div>
                  </div>

                </div>
              </div>
              <div class="pad col s12 m4 l4 ">

                <div class="card">
                  <div class="card-image">
                    <img src="{% static 'img/galaxy.jpg' %}">
                    <span class="card-title">Canon #1</span>
                  </div>
                  <div class="card-content">
                    <h5>Statistiques</h5>
                    <p>Description Canon #1</p>
                    <span> Prix : 100$</span>
                  </div>
                  <div class="card-action">
                    <a class="waves-effect waves-light btn" href="#">Acheter</a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    {% include 'backend/footer.html' %}
  </body>
</html>
