          <div class="col hide-on-small-only m3 l2">
            <div class="toc-wrapper">
              <div class="section collection">
                <a href="accueil"  class="collection-item">Accueil</a>
                <a href="boutique"  class="collection-item">Boutique</a>
                <a href="editeur"  class="collection-item">Editeur</a>
                <a href="inventaire"  class="collection-item">Inventaire</a>
                <a href="aide"  class="collection-item">Aide</a>
              </div>
            </div>
          </div>