          <div class="col hide-on-small-only m3 l2">
            <div class="toc-wrapper">
              <div class="section collection">
                <a style="cursor:pointer" onclick="window.location.href='/'"  class="collection-item">Accueil</a>
                <a style="cursor:pointer" onclick="window.location.href='/market'"  class="collection-item">Boutique</a>
                <a style="cursor:pointer" onclick="window.location.href='/editor'"  class="collection-item">Editeur</a>
                <a style="cursor:pointer" onclick="window.location.href='/inventory'"  class="collection-item">Inventaire</a>
                <a style="cursor:pointer" onclick="window.location.href='/help'"  class="collection-item">Aide</a>
              </div>
            </div>
          </div>